<h2>Welcome to Closetcrunch.com!</h2>

<p>
  You have successfully signed up for Closetcrunch.com.
  Please <a href="<%= @url %>">confirm</a> your email address.
</p>

<p>
  If you can not open the confirmation link please copy and paste the following
  url into your web browser.<br />
  <%= @url %>
</p>

<p>Thanks for joining!</p>
