<h3>Thank you for confirming your email address!</h3>

<p>You have successfully confirmed your email address.</p>

<p>
  <a href="<%= @url %>">Click here</a> to login.
</p>

<p>
  If you can not open the login link please copy and paste the following
  url into your web browser.<br />
  <%= @url %>
</p>

<p>Thanks for joining!</p>
