<h2>Hello, <%= @user.email %></h2>

<p>You have requested to reset your password.</p>

<p>
  <a href="<%= @url %>">Click here</a> to reset your password.
</p>

<p>
  If you can not open the login link please copy and paste the following
  url into your web browser.<br />
  <%= @url %>
</p>

<p>Thanks!</p>
